.destinations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;
}

.destinations h1 {
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;

    line-height: normal;
}

.destinations-cards {
    display: flex;

    overflow-x: scroll;
    width: 100%;
    gap: 20px;

    padding: 20px 10px;
}

@media screen and (max-width: 600px) {
    .destinations h1 {
        margin: 30px 0px;
    }
}

@media screen and (min-width: 600px) {
    .destinations h1 {
        font-size: 38px;
    }

    .destinations h1 {
        margin: 40px 0px;
    }

    .destinations-cards {
        padding: 20px 40px;
    }
}

@media screen and (min-width: 768px) {
    .destinations h1 {
        width: 100%;

        align-items: self-start;
    }
}

@media screen and (min-width: 992px) {
    .destinations h1 {
        margin: 60px 30px;
        padding: 0px 20px;
    }
}

@media screen and (min-width: 1200px) {
    .destinations h1 {
        color: #000;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .destinations-cards {
        padding-left: 119px;
    }
}