@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.profileCard {
    display: flex;
    background-color: white;
    padding: 25px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    margin: 50px 0px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profileCard img {
    margin-right: 10px;
    width: 80px;
    height: 80px;
}

.details h3 {
    color: var(--black, #000);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.details h5 {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 600px) {
    .profileCard {
        margin: 20px 10px;
    }
}